# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of Popular Languages for Data Science
- Commonly Used Libraries for Data Science
- Open Source Tools used for Data Science
- Arthimetic Operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R Programming
1. SQL

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Matplotlib
- NumPy
- TensorFlow

| Data Science Tools |
| ------------------ |
| Python |
| R Programming |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shoaib Ahmed Memon